@page "/Artistas"

<h3>Artistas</h3>
<h4>@Mensagem</h4>

@code {
    public string? Mensagem { get; set; } = "Olá !";


/*
DEFINIÇÃO DA ROTA
@page "/Artistas" 

CORPO DA PÁGINA
<h3>Artistas</h3>              
<h4>@Mensagem</h4>  

CÓDIGO C#
@code {
    public string? Mensagem { get; set; } = "Olá !";

*/
}
