@page "/Artistas"
@inject ArtistaAPI artistaAPI


<h3>Artistas</h3>
@if(artistas is not null)
{
    <MudGrid>
    @foreach(var artista in artistas)
    {
        <MudItem xs="3">
            <CardArtista Artista="artista"/>
        </MudItem>
    }
    </MudGrid>
}


@code {
    //ATRIBUTOS - CAMPOS
    private ICollection<ArtistaResponse>? artistas;

    //DEMAIS MÉTODOS
    //SOBRECARGA DO MÉTO OnInitializedAsync PARA QUE, SEMPRE QUE A ROTA Artistas
    //FOR CONSULTADA, A COLEÇÃO artistas VAI RECEBER O RESULTADO DE 
    // artistaAPI.GetArtistasAsync(), QUE FOI DEFINIDA EM ArtistaAPI.cs
    protected override async Task OnInitializedAsync()
    {
        artistas = await artistaAPI.GetArtistasAsync();
    }

    //OU SEJA, SEMPRE QUE ACESSADO A ROTA Artistas
    //É MOSTRADO NA TELA A LISTAGEM DE ARTISTAS - MÉTODO app.MapGet("Artistas") DA API

    //<MudItem xs="3"> - DEFINE QUE PAR CADA LINHA, HAVERÁ 3 ESPAÇOS ENTRE, OS ITENS,
    //OU SEJA, 4 ITENS

    //<CardArtista Artista="artista"/> - O ITEM CardArtista RECEBE A VARIÁVEL 
    //artista, USANDO PARÂMETRO Artista EM CADA REPETIÇÃO
    
}



